# Node modules
node_modules/

# Environment variables
.env

# Prisma generated client
/generated/prisma/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Build output
dist/
build/
.next/

# Git files
.git/

# Optional editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
